@font-face {
   	font-family: BigNoodleTitling;
   	src: url(../fonts/big_noodle_titling.ttf);
}
body
{
	font-family: BigNoodleTitling;
}

menu /* Une balise div un peu inutile pour gérer une flexbox plutôt qu'une table */
{
	z-index:2;
	display: flex;
	/*Mode flex active pour cette balise : sert à afficher un fond et à créer un espace pour le menu */
	position: sticky; /* Le menu reste sur la page */
	top: 0;
	margin-left: 25%;
	margin-right: 25%;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #4A4C4E;

	 /* Largeur de la flexbox */
  	font-size: 30px;

}
#logo
{
	z-index:2;
	right:2%;
	top:2%;
	width:10%;
	position: fixed;
	text-decoration: none;
	outline-style: none;
}
#lang_check
{
	cursor: pointer;
	position: fixed;
	top:5%;
	left: 2%;
	width:50px;
}
@media only screen and (max-width: 1919px) {

	menu
	{
		margin-left: 12%;
		margin-right: 12%;
	}
	#logo
	{
		top: 12%;
	}
}
@media only screen and (max-width: 1266px) {

	menu
	{
		margin-left: 1%;
		margin-right: 1%;
	}
	#logo
	{
		right: 20%;
	}

}
menu > h4 /*Uniquement pour les h4 contenus de la Flexbox */
{
	width:30%;
	/* Gestion des paramètres : alignement du texte, marges et padding */
	text-align: center;
	margin: 15px;
	padding: 10px;
}
/* Petit plaisir : changement de couleur en appuyant sur les liens.*/
menu > h4 > a:link
{
  	color: white;
}
a
{
    text-decoration:none;
}
menu > h4 > a:visited
{
	color: white;
}
menu > h4 > a:hover
{
	color: #FA9C1D;
}

