header > a /* Attributs du titre "Personnage" */
{
	color: white;
	position: relative;
	text-align: left;
	margin-left: 10%;
	margin-top: 2%;
	display:inline-block;
	font-size:40px;
}

header > a:hover 
{
	color: #FA9C1D;
}
body /* Gère l'ensemble */
{
	background-image:url("../imgs/fond_accueil.png");
	background-position: center 0%;
}

p /*texte gauche*/
{
	text-align: left;
	font-size: 20px;
}
iframe
{
	background-color: black;
	padding: 50px;
	border-radius: 60px;
	/* Placement de vidéo */
	position:relative;
	/*width: 50%;
	height: 50%;*/
	margin-top: 40px;
	margin-left: 32%;
}
@media only screen and (max-width: 1300px)
{
	iframe
	{
		margin-left: 25%;
	}
}
@media only screen and (max-width: 1000px)
{
	iframe
	{
		margin-left: 15%;
	}
}