body
{
	background: linear-gradient(90deg,rgba(255,210,103,0.5) 40%,rgba(86,89,113,0.5) 60%), url(../imgs/fondlore.png) no-repeat; /* Affichage de l'image du background avec une couleur */
	background-position: center 0;
	background-size: auto auto;
}
@media only screen and (max-device-width: 770px) and (orientation:portrait)
{

	body
	{
		background-size: 3200px 1800px;
	}

}
@media only screen and (min-width: 3000px)
{

	body
	{
		background-size: 100% auto;
	}

}
h6
{
	margin-top: 15%;
	position: relative;
	font-size: 40px;/* Taille de la police */
	text-align: center;
	vertical-align: middle; 
}
p
{
	margin-left: 20%;
	margin-right:20%;
	font-size: 30px;
	margin-top: 5%;
	line-height: 140%;
}

h1
{
	margin-top: 7%;
	font-size: 45px;
	text-align: center;
}