:root
{
    --color-back: black;
}
body
{
    background-image:url("../imgs/fond_perso.jpg");
    background-color: black;
    background-repeat: repeat;
    background-size:100% auto;
}
.imgLucio
{
    height:500px;
    position: fixed;
    top:50%;
    margin-top: -250px;
    bottom: 0; 
    right: 0;
    z-index: 3;
}
.imagesOW
{
    z-index: 1;
    top: 35%;
    left: 70%;
    position:absolute;
    height:500px;
}
table
{
    font-size: 30px;
    width: 20%;
    text-align: center;
    color:white;
}
tbody > tr > th
{
    height: 70px;
}
td > a
{
    color: white;
    text-decoration: none;
}
.pictures_caption
{
    text-align:center;
    z-index: 3;
    color: white;
    font-size: 25px;
    width: 30%;
    position: fixed;
    top:65%;
    margin-top: -250px;
    margin-right:5px;
    bottom: 0; 
    left: 10%; 
    right: 0;
}
.chibi
{
    position:absolute;
    float:right;
    width:2%;
    margin-left:1%;
}
#container
{
    color:white;
    border-radius: 20px;
    left:35%;
    margin-right:35%;
    display: flex;
    position:absolute;
    padding:10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--color-back);
}
#button1
{
    padding:10px;
    margin:5px;
    margin-right:10px;
    cursor: pointer;
}
#button2
{
    padding:10px;
    cursor: pointer;
    margin:5px;
    margin-left:10px;
}
#text1
{
    color: white;
    font-size: 30px;
    border-radius: 20px;
    z-index: 1;
    position:absolute;
    right: 35%;
    width: 45%;
    left: 20%;
    top: 30% ;
    background-color: var(--color-back);
    padding: 20px;
    white-space: pre-wrap;
}
#button1:hover, #button2:hover
{
    color:orange;
}
#text1 > h2
{
    text-align: center;
    text-decoration: underline;
}
p
{
    text-align:justify;
}